<!DOCTYPE html>
<html ng-app="toDoListApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
   
        


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bower_components")
    @Scripts.Render("~/app")
    @RenderSection("scripts", required: false)
    @RenderBody()
</body>
</html>
